.footer {
  border-top: 1px solid var(--color-border);
  padding: 2rem 0;
  margin-top: var(--section-gap);
  text-align: center;
}

.text {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
}
